In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.thermo import ThermoRawData

raw_data = ThermoRawData()
raw_data.import_raw("/Users/zengwenfeng/Workspace/Data/Thermo_iRT/iRT.raw")
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz,rt_sec
0,0,0,254,0.002983,1,-1.0000,0,-1.000000,-1.000000,0.178981
1,1,254,665,0.006392,1,-1.0000,0,-1.000000,-1.000000,0.383501
2,2,665,1131,0.009808,1,-1.0000,0,-1.000000,-1.000000,0.588464
3,3,1131,1663,0.013224,1,-1.0000,0,-1.000000,-1.000000,0.793464
4,4,1663,2169,0.016641,1,-1.0000,0,-1.000000,-1.000000,0.998447
...,...,...,...,...,...,...,...,...,...,...
3932,3932,1100271,1101512,5.994985,1,-1.0000,0,-1.000000,-1.000000,359.699078
3933,3933,1101512,1101528,5.997334,2,362.5372,2,361.837140,363.237140,359.840069
3934,3934,1101528,1102758,5.998843,1,-1.0000,0,-1.000000,-1.000000,359.930573
3935,3935,1102758,1102771,6.001193,2,425.3266,2,424.626569,426.026569,360.071552
3936,3936,1102771,1103989,6.002935,1,-1.0000,0,-1.000000,-1.000000,360.176126

In [3]:
raw_data.peak_df

                  mz     intensity
0         301.060333  36817.058594
1         301.142944  12673.902344
2         301.217346  53082.824219
3         301.238922  16699.697266
4         301.976807  27308.283203
...              ...           ...
1103984  1207.956909  67160.632812
1103985  1210.963867  29747.617188
1103986  1215.940796  26113.435547
1103987  1240.572632  26533.298828
1103988  1372.140991  20527.900391

[1103989 rows x 2 columns]