In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.sciex import SciexWiffData

raw_data = SciexWiffData()
raw_data.import_raw(
    "/Users/zengwenfeng/Workspace/Data/DIA_data/scanningSWATH/20201215_sswath_1min_5ug_1.wiff"
)
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_end_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz,experiment_id,cycle_id,rt_sec
0,0,0,174,0.000000,1,-1.000000,-1,-1.000000,-1.000000,0,0,0.000000
1,1,174,174,0.000241,2,378.989823,0,377.989823,379.989823,1,0,0.014475
2,2,174,174,0.000246,2,380.995054,0,379.989823,382.000285,2,0,0.014747
3,3,174,174,0.000250,2,383.000285,0,382.000285,384.000285,3,0,0.015020
4,4,174,174,0.000255,2,385.005515,0,384.000285,386.010746,4,0,0.015293
...,...,...,...,...,...,...,...,...,...,...,...,...
100741,100741,141039979,141040016,1.990408,2,890.788651,0,889.779935,891.797367,256,385,119.424494
100742,100742,141040016,141040057,1.990413,2,892.798301,0,891.797367,893.799235,257,385,119.424767
100743,100743,141040057,141040095,1.990417,2,894.807950,0,893.799235,895.816666,258,385,119.425039
100744,100744,141040095,141040133,1.990422,2,896.817600,0,895.816666,897.818534,259,385,119.425312
100745,100745,141040133,141040166,1.990426,2,898.827250,0,897.818534,899.835966,260,385,119.425585

In [6]:
raw_data.spectrum_df.query('cycle_id==3')

,spec_idx,peak_start_idx,peak_end_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz,experiment_id,cycle_id,rt_sec
783,783,46259,46449,0.015499,1,-1.000000,-1,-1.000000,-1.000000,0,3,0.929926
784,784,46449,46449,0.015740,2,378.989823,0,377.989823,379.989823,1,3,0.944400
785,785,46449,46449,0.015745,2,380.995054,0,379.989823,382.000285,2,3,0.944673
786,786,46449,46449,0.015749,2,383.000285,0,382.000285,384.000285,3,3,0.944946
787,787,46449,46449,0.015754,2,385.005515,0,384.000285,386.010746,4,3,0.945219
...,...,...,...,...,...,...,...,...,...,...,...,...
1039,1039,61814,61840,0.016899,2,890.788651,0,889.779935,891.797367,256,3,1.013940
1040,1040,61840,61863,0.016904,2,892.798301,0,891.797367,893.799235,257,3,1.014212
1041,1041,61863,61887,0.016908,2,894.807950,0,893.799235,895.816666,258,3,1.014485
1042,1042,61887,61908,0.016913,2,896.817600,0,895.816666,897.818534,259,3,1.014758
1043,1043,61908,61922,0.016917,2,898.827250,0,897.818534,899.835966,260,3,1.015030