In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.sciex import SciexWiffData

raw_data = SciexWiffData(centroided=False)
raw_data.import_raw(
    "/Users/zengwenfeng/Workspace/Data/zenoTOF/test_data/02112022_Zeno1_TiHe_DIAMA_HeLa_200ng_EVO5_01.wiff"
)
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz
0,0,0,100,0.000417,1,-1.00,0,-1.0,-1.0
1,1,100,447,0.001133,2,403.55,0,399.5,407.6
2,2,447,924,0.001383,2,411.25,0,406.6,415.9
3,3,924,1286,0.001650,2,419.25,0,414.9,423.6
4,4,1286,1943,0.001900,2,426.95,0,422.6,431.3
...,...,...,...,...,...,...,...,...,...
42232,42232,73839218,73841218,11.627550,2,715.15,0,711.1,719.2
42233,42233,73841218,73843218,11.627817,2,722.30,0,718.2,726.4
42234,42234,73843218,73845218,11.628067,2,729.70,0,725.4,734.0
42235,42235,73845218,73847218,11.628317,2,737.35,0,733.0,741.7
42236,42236,73847218,73849218,11.628583,2,745.05,0,740.7,749.4

In [3]:
raw_data.peak_df

                   mz  intensity
0          416.037520      857.0
1          417.033163      857.0
2          429.073698     1080.0
3          429.077756     1492.0
4          429.081814     1311.0
...               ...        ...
73849213  1335.683359      109.0
73849214  1364.651774      109.0
73849215  1495.747204      110.0
73849216  1529.816654      111.0
73849217  1558.819350      111.0

[73849218 rows x 2 columns]

In [4]:
raw_data.creation_time

'2022-11-02T11:56:20.0000000'

In [5]:
raw_data.peak_df.dtypes

mz           float64
intensity    float32
dtype: object